* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* navbar responsive */
nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
}

.logo {
  width: 100px;
}

.navbar-left,
.navbar-right {
  display: flex;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border-color: var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-left ul {
  margin-left: 12px;
}

.email {
  font-size: var(--sm);
  margin-right: 12px;
  cursor: pointer;
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar-shopping-cart div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  top: -6px;
  right: -3px;
}
/* fin navbar responsive */

/* menu desplegable email */
.inactive {
  visibility: hidden;
  translate: 0 -10px;
  opacity: 0;
}

.desktop-menu {
  position: absolute;
  background-color: var(--white);
  top: 59px;
  right: 50px;
  width: 140px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  transition: visibility 0.3s, opacity 0.3s, translate 0.3s;
}

.desktop-menu ul {
  list-style: none;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
}
/* fin menu desplegable email */

@media (max-width: 640px) {
  /* navbar responsive */
  .menu {
    display: block;
    width: 22px;
  }

  .desktop-menu {
    display: none;
  }

  .navbar-left ul {
    display: none;
  }

  .email {
    display: none;
  }

  /* fin navbar responsive */
}
